.slide-2 {
    // background-color: #5cc2f1;
    background-image: url('../images/bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    .item-image {
        width: 18rem;
        height: 15rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/cheyidai1.jpg');
    }
    .image1{
        position: absolute;
        top: 4rem;
        left: 10%;
        width: 80%;
        height: auto;
        border: 3px solid #fff;
        box-sizing: border-box;
    }
    .item-text {
        width: 18rem;
        color: #ebebeb;
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .text1{
        top: 16rem;
        color: #55bfc4;
        font-size: 1.4rem;
        letter-spacing: .3rem;
    }
    .text2{
        top: 21rem;
    }
    .text3{
        top: 24rem;
    }
    .text4{
        top: 27rem;
    }
}
